<h1>Adicionar Jogo</h1>

<form method="post">
  <div class="form-row">
    <label for="title">Título do jogo: *</label>
    <input
      type="text"
      name="title"
      id="title"
      maxlength="100"
      placeholder="Need for Speed: The Run"
      required
    />
  </div>

  <div class="form-row">
    <label for="developer">Desenvolvedor: *</label>
    <select name="developer" id="developer">
      <option value="">--Selecione um desenvolvedor--</option>
      <% allDevelopers.forEach(dev => { %>
      <option value="<%= dev._id %>"><%= dev.name %></option>
      <% }) %>
    </select>
  </div>

  <fieldset class="checkboxes">
    <legend>Escolha até 3 gêneros: *</legend>

    <div class="checkbox-list">
      <% allGenres.forEach(genre => { %>
      <div class="checkbox-row">
        <input
          type="checkbox"
          name="genre"
          value="<%= genre._id %>"
          id="<%= genre._id %>"
        />
        <label for="<%= genre._id %>"><%= genre.name %></label>
      </div>
      <% }) %>
    </div>
  </fieldset>

  <div class="form-row">
    <label for="description">Descrição: *</label>
    <textarea
      name="description"
      id="description"
      rows="10"
      maxlength="500"
      placeholder="Se possível, insira a descrição fornecida pelo desenvolvedor."
    ></textarea>
  </div>

  <% if (errors) { %>
  <ul class="input-errors small">
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <div class="buttons-container"><button type="submit">Salvar</button></div>
</form>
