<h1>
  Instância
  <br />
  #<%= instance.numberInStock %>
</h1>

<h2>Produto nesta instância</h2>

<a href="<%= instance.product.url %>" class="product-horizontal">
  <div class="game-cover-template"></div>

  <div>
    <div><b><%= instance.product.game.title %></b></div>
    <div class="small"><%= instance.product.platform.name %></div>
    <div class="small"><%= instance.product.price_BRL %></div>
  </div>
</a>
