<h1>Instâncias</h1>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th title="Número no estoque">#</th>
        <th>Status</th>
        <th>Título</th>
        <th>Desenvolvedor</th>
        <th>Gênero</th>
        <th>Plataforma</th>
        <th>Data de lançamento</th>
        <th>Preço atual</th>
      </tr>
    </thead>
    <tbody>
      <% allInstances.forEach(function(inst) { %>
      <tr>
        <td><%= inst.numberInStock %></td>
        <td><%= inst.isAvailable ? "Disponível" : "Vendido" %></td>
        <td><%= inst.product.game.title %></td>
        <td><%= inst.product.game.developer.name %></td>
        <td><%= inst.product.game.genre.name %></td>
        <td><%= inst.product.platform.name %></td>
        <td>
          <!-- Format: DD/MM/AAAA -->
          <%= inst.product.launchDate.toLocaleDateString("pt-BR", { timeZone:
          'UTC' }) %>
        </td>
        <td>
          <!-- Format: R$ 250,00 -->
          <%= `R$ ${inst.product.currentPrice.toFixed(2)}`.replace(".", ",") %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
